.footer{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding: 1em;
    gap: .5em;
    max-width: 1000px;
    margin: 0 auto;
}
.link--section{
    display: flex;
    gap: 1em;
}

.link--section a{
    text-decoration: none;
    color: #333;
}

@media screen and (min-width: 1000px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
}