.banner{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: #000;
    z-index: 2;
    text-align: center;
}

.banner a{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}